<section>
    <div><h2><span data-bind="html: displayName"></span><span data-bind="text: voteCount" class="label label-info"></span> <span><button data-bind="click: voteUp, enable: voteEnabled"><i class="icon-thumbs-up"></i></button></span></h2></div>
    <blockquote data-bind="html:description"></blockquote>
    <div>
        <form>
            <div class="form-group"><textarea data-bind="value: suggestion, valueUpdate: 'afterkeydown'" placeholder="Suggest a new activity for this goal" cols="80" rows="4"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" data-bind="click: sendSuggestion, enable: suggestionEnabled">Suggest!</button></div>
        </form>
    </div>
    <h3>Activities to reach the goal</h3>
    <div class="panel panel-primary" data-bind="visible: suggestions().length > 0">
        <div class="panel-heading">
            <h4>Suggestions waiting for admittance</h4>
        </div>
        <ul class="list-group list-group-flush" data-bind="foreach: suggestions">
            <li><button class="btn btn-primary btn-xs">Approve</button>&nbsp;<button class="btn btn-xs">Reject</button>&nbsp;<span data-bind="text: Description"></span></li>
        </ul>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4><span data-bind="text: completedActivities().length > 0 ? completedActivities().length + ' ' : ''"></span>Completed activities</h4>
        </div>
        <div class="list-group list-group-flush" data-bind="foreach: completedActivities">
            <a class="list-group-item" data-bind="attr: { 'href': '#activity/' + Id.replace('/', '-') }, text: Title"></a>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4><span data-bind="text: inProgressActivities().length > 0 ? inProgressActivities().length + ' ' : ''"></span>Moving activities</h4>
        </div>
        <div class="list-group list-group-flush" data-bind="foreach: inProgressActivities">
            <a class="list-group-item" data-bind="attr: { 'href': '#activity/' + Id.replace('/', '-') }, text: Title"></a>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><span data-bind="text: notStartedActivities().length > 0 ? notStartedActivities().length + ' ' : ''"></span>Waiting activities</h4>
        </div>
        <div class="list-group list-group-flush" data-bind="foreach: notStartedActivities">
            <a class="list-group-item" data-bind="attr: { 'href': '#activity/' + Id.replace('/', '-') }, text: Title"></a>
        </div>
    </div>
</section>