<section>
    <h2 data-bind="html:displayName"></h2>
    <blockquote data-bind="html:description"></blockquote>
    <h3>Activities to reach the goal</h3>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4><span data-bind="text: completedActivities().length > 0 ? completedActivities().length + ' ' : ''"></span>Completed activities</h4>
        </div>
        <div class="list-group list-group-flush" data-bind="foreach: completedActivities">
            <a class="list-group-item" data-bind="attr: { 'href': '#activity/' + Id.replace('/', '-') }, text: Title"></a>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4><span data-bind="text: inProgressActivities().length > 0 ? inProgressActivities().length + ' ' : ''"></span>Moving activities</h4>
        </div>
        <div class="list-group list-group-flush" data-bind="foreach: inProgressActivities">
            <a class="list-group-item" data-bind="attr: { 'href': '#activity/' + Id.replace('/', '-') }, text: Title"></a>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><span data-bind="text: notStartedActivities().length > 0 ? notStartedActivities().length + ' ' : ''"></span>Waiting activities</h4>
        </div>
        <div class="list-group list-group-flush" data-bind="foreach: notStartedActivities">
            <a class="list-group-item" data-bind="attr: { 'href': '#activity/' + Id.replace('/', '-') }, text: Title"></a>
        </div>
    </div>
</section>